[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "==3.141.0"
webdriver-manager = "==3.3.0"
pandas = "==1.2.3"
openpyxl = "==3.0.7"
requests = "==2.25.1"
behave = "==1.2.6"
pytest = "==6.2.2"
pytest-bdd = "==4.0.2"
allure-behave = "==2.8.36"
allure-pytest = "==2.8.36"
Flask = "==1.1.2"
html-testRunner = "==1.2.1"
allure-python-commons = "==2.8.36"
atomicwrites = "==1.4.0"
attrs = "==20.3.0"
certifi = "==2020.12.5"
chardet = "==4.0.0"
click = "==7.1.2"
colorama = "==0.4.4"
configparser = "==5.0.2"
crayons = "==0.4.0"
glob2 = "==0.7"
idna = "==2.10"
iniconfig = "==1.1.1"
itsdangerous = "==1.1.0"
numpy = "==1.20.1"
parse-type = "==0.5.2"
parse = "==1.19.0"
pluggy = "==0.13.1"
py = "==1.10.0"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2021.1"
six = "==1.15.0"
toml = "==0.10.2"
urllib3 = "==1.26.4"
et_xmlfile = "==1.0.1"
Jinja2 = "==2.11.3"
Mako = "==1.1.4"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
robotframework = "==4.0"
robotframework-seleniumlibrary = "==5.1.1"
pyodbc = "==4.0.30"
robotframework-pythonlibcore = "==2.2.1"
matplotlib = "==3.3.4"
kiwisolver = "==1.3.1"
Cycler = "==0.10.0"
Pillow = "==8.1.2"

[requires]
python_version = "3.8"
