{% extends "base.html" %}

{% block tabs %}

     <li><a href="/">Home</a></li>
    <li class="active"><a href="#">Contact</a></li>
    <li><a href="/data">Data</a></li>

{% endblock %}


{% block content %}



  <table class="table">
  <thead class="thead-dark">
    <tr>
    {% for key in details.keys() %}
        <th>{{ key }}</th>
    {% endfor %}
    </tr>
     </thead>
 <tbody>
    <tr>
    {% for value in details.values() %}
        <td>{{ value }}</td>
    {% endfor %}
    </tr>
      </tbody>
</table>
{% endblock %}